* {
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}

#gif_bg {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}

#bg_cover {
  position: fixed;
  z-index: -50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url(/assets/bg_cover.png);
}

header {
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 45px;
}

footer {
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 45px;
}

#container {
  margin: auto 0;
  padding-top: 72px;
}

#panels {
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  opacity: 0.8;
  border-spacing: 16px;
  width: 360px;
  height: 540px;
  float: left;
}

#panel {
  background-color: #1BA1E2;
  width: 176px;
  height: 176px;
  cursor: pointer;
}

#panel_image {
  width: 176px;
  height: 176px;
}

#better_flow {
  padding: 14px;
  padding-left: 30px;
  float: left;
}

#track_top_title {
  font-size: 96px;
}

#track_info {
  font-size: 28px;
  width: 640px;
}

#track_info_header {
  font-size: 24px;
  opacity: 0.8;
  background-color: #222222;
}

#track_info_body {
}

#artist_name #track_name #release_date {
}

#jacket_image_wrapper {
  width: 640px;
  height: 392px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#jacket_image {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  vertical-align: middle;
}



