<div id="gif_bg"></div>
<div id="bg_cover"></div>

<header>
  <div id="panels">
    <div class="panel">
      <img class="panel_image" src="/assets/icon.png">
    </div>
    <div class="panel" onclick="open_new_tab('https://github.com/takiguchi0817')">
      <img class="panel_image" src="/assets/github_logo.png">
    </div>
    <div class="panel" onclick="open_new_tab('https://twitter.com/rejasupotaro')">
      <img class="panel_image" src="/assets/twitter_logo.png">
    </div>
    <div class="panel" onclick="open_new_tab('http://takiguchi0817.github.com/')">
      <img class="panel_image" src="/assets/blog_logo.png">
    </div>
  </div>
</header>

<div id="container">
  <div id="better_flow">
    <div id="track_top_title">Poker Face</div>
    <table id="track_info">
      <tr id="track_info_header">
        <td>Artist Name</td>
        <td>Track Name</td>
        <td>Release Date</td>
      </tr>
      <tr id="track_info_body">
        <td id="artist_name">Lady Gaga</td>
        <td id="track_name">Poker Face</td>
        <td id="release_date">2008</td>
      </tr>
    </table>
    <div id="jacket_image_wrapper">
      <a id="to_itunes_link" target="_blank"><img id="jacket_image"></a>
    </div>
  </div>
</div>

<audio id="music_player"></audio>
<audio id="scratch_player" src="/assets/scratch.wav"></audio>

<footer>
</footer>
