<div id="gif_bg" style="background-image: url(http://kksg.net/data/gif/1dce64287315c37e76d3f368109f1a7f); background-size: cover; "></div>
<header></header>
<div id=bg_cover></div>
<audio id="music_player"></audio>
<audio id="scratch_player">
  <source src="/assets/scratch.wav">
</audio>
<footer></footer>
